dash==2.9.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
flask==2.2.3
importlib-metadata==6.1.0
plotly==5.13.1
werkzeug==2.2.2
pandas==2.2.1
sklearn==1.1.1
numpy==1.23.3
pickle==0.6.5
gunicorn
